h1{
    text-align: center;
    height: 400px;
    display: flex;
    color: black
    
};

button{
    flex-direction: column;
    color: red;
};

#debut{
    text-align: center;
    height: 200px;
    display: flex;
    color: black
};