<body>
    <h1>FillMyFile</h1>
    <p id="debut">Bienvenue sur l'application qui va changer votre vie administrative.<br/>
    Vous avez besoin de déclarer vos impôts, de remplir les dossiers d'inscription de vos enfants ou faire votre dossier CAF, <br/>
    rien de plus simple : créer votre compte en quelques cliques, renseigner vos informations et on se charge du reste. *</p>
    
    <button mat-button routerLink="/login">Connexion</button>
    <button mat-button routerLink="/register">Première connexion</button>

    <p id="fin">* A noter que ce site web est directement relié à l'application mobile FillMyFile <br/>
    qui permet de remplir vos documents administratifs via une simple photo. </p>
</body>


